<th:block xmlns:th="https://www.thymeleaf.org" th:fragment="addUser(roles)">
    <div class="card">
        <div class="card-header">
            Add new user
        </div>
        <div class="card-body row justify-content-lg-center mt-1">
            <form id="createUserForm" class="col-lg-4">
                <div class="form-group">
                    <label class="d-block text-center mb-1 font-weight-bold" for="firstName">First name</label>
                    <input type="text" name="firstName" pattern="^[^%]{2,}$" required id="firstName" placeholder="First name" class="form-control">
                </div>

                <div class="form-group">
                    <label class="d-block text-center mb-1 font-weight-bold" for="lastName">Last name</label>
                    <input type="text" name="lastName" pattern="^[^%]{2,}$" required id="lastName" placeholder="Last name" class="form-control">
                </div>

                <div class="form-group">
                    <label class="d-block text-center mb-1 font-weight-bold" for="age">Age</label>
                    <input type="number" min="0" max="120" name="age" required id="age" placeholder="Age" class="form-control">
                </div>

                <div class="form-group">
                    <label class="d-block text-center mb-1 font-weight-bold" for="email">Email</label>
                    <input type="email" name="email" required id="email" placeholder="Email" class="form-control">
                </div>

                <div class="form-group">
                    <label class="d-block text-center mb-1 font-weight-bold" for="password">Password</label>
                    <input type="password" name="password" required id="password" placeholder="Password" class="form-control">
                </div>

                <div class="form-group">
                    <label class="d-block text-center mb-1 font-weight-bold" for="role">Role</label>
                    <select id="role" name="roles" multiple="multiple" class="d-block form-control" style="height: 60px;">
                        <option th:each="role : ${roles}"
                                th:value="${{role}}"
                                th:text="${role.name.replace('ROLE_', '')}">
                        </option>
                    </select>
                </div>

                <button id="createUserButton" type="button" class="btn btn-success d-block mx-auto">Add New User</button>
            </form>
        </div>
    </div>

    <script>
        $(function () {
            $('#createUserButton').click(function (e) {
                if ($('#createUserForm')[0].checkValidity()) {
                    let serializedData = $('#createUserForm').serializeArray();
                    let data = {};
                    $.map(serializedData, function (n, i) {
                        data[n['name']] = n['value'];
                    });
                    data.roles = [];
                    $("#createUserForm select option:selected").each((i, el) => data.roles.push({id: el.value}));
                    $.ajax({
                        url: "http://localhost:8080/admin/saveUser",
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify(data),
                        success: function (data) {
                            updateUsers();
                            $('#table-tab').tab('show');
                            $("html, body").animate({scrollTop: $(document).height()}, 1000);
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.log(jqXHR, textStatus, errorThrown);
                        }
                    });
                } else {
                    $('#createUserForm input').each((i, el) => {
                        if (!el.checkValidity()) {
                            $(el).css('border', '1px solid red');
                        } else {
                            $(el).css('border', '1px solid #ced4da');
                        }
                    });
                }
            });
        })
    </script>
</th:block>
