<th:block xmlns:th="https://www.thymeleaf.org" th:fragment="userList(users, roles)">
    <div class="card">
        <div class="card-header">
            All users
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody id="usersTableBody">
                <tr data-th-each="user, i : ${users}">
                    <td class="align-middle" data-th-text="${user.id}"></td>
                    <td class="align-middle" data-th-text="${user.firstName}"></td>
                    <td class="align-middle" data-th-text="${user.lastName}"></td>
                    <td class="align-middle" data-th-text="${user.age}"></td>
                    <td class="align-middle" data-th-text="${user.email}"></td>
                    <td class="align-middle">
                        <span class="mr-1" th:each="role : ${user.getRoles()}" th:text="${role.getName().replace('ROLE_', '')}"></span>
                    </td>
                    <td class="align-middle">
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#editModal">Edit</button>
                    </td>
                    <td class="align-middle">
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form id="editUserForm" class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLongTitle">Edit user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body row justify-content-lg-center mt-1">
                    <div class="col-lg-6">
                        <fieldset disabled class="form-group">
                            <label class="d-block text-center mb-1 font-weight-bold">ID</label>
                            <input type="text" name="id" class="form-control">
                        </fieldset>

                        <div class="form-group">
                            <label class="d-block text-center mb-1 font-weight-bold" for="firstName">First name</label>
                            <input type="text" pattern="^[^%]{2,}$" required name="firstName" id="firstName" placeholder="First name" class="form-control">
                        </div>

                        <div class="form-group">
                            <label class="d-block text-center mb-1 font-weight-bold" for="lastName">Last name</label>
                            <input type="text" pattern="^[^%]{2,}$" required name="lastName" id="lastName" placeholder="Last name" class="form-control">
                        </div>

                        <div class="form-group">
                            <label class="d-block text-center mb-1 font-weight-bold" for="age">Age</label>
                            <input type="number" required min="0" max="120" name="age" id="age" placeholder="Age" class="form-control">
                        </div>

                        <div class="form-group">
                            <label class="d-block text-center mb-1 font-weight-bold" for="email">Email</label>
                            <input type="email" required name="email" id="email" placeholder="Email" class="form-control">
                        </div>

                        <div class="form-group">
                            <label class="d-block text-center mb-1 font-weight-bold" for="password">Password</label>
                            <input type="password" required id="password" placeholder="Password" class="form-control">
                        </div>

                        <div class="form-group">
                            <label class="d-block text-center mb-1 font-weight-bold" for="editRoleSelect">Role</label>
                            <select id="editRoleSelect" name="roles" multiple="multiple" class="d-block form-control" style="height: 60px;">
                                <option th:each="role : ${roles}"
                                        th:value="${{role}}"
                                        th:text="${role.name.replace('ROLE_', '')}">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="editUserButton">Edit</button>
                </div>
            </form>
        </div>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="editModalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLongTitle">Delete user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body row justify-content-lg-center mt-1">
                    <div class="col-lg-6">
                        <fieldset disabled class="form-group">
                            <label class="d-block text-center mb-1 font-weight-bold">ID</label>
                            <input type="text" name="id" class="form-control">
                        </fieldset>

                        <fieldset disabled class="form-group">
                            <label class="d-block text-center mb-1 font-weight-bold">First name</label>
                            <input type="text" name="firstName" class="form-control">
                        </fieldset>

                        <fieldset disabled class="form-group">
                            <label class="d-block text-center mb-1 font-weight-bold">Last name</label>
                            <input type="text" name="lastName" class="form-control">
                        </fieldset>

                        <fieldset disabled class="form-group">
                            <label class="d-block text-center mb-1 font-weight-bold">Age</label>
                            <input type="number" name="age" class="form-control">
                        </fieldset>

                        <fieldset disabled class="form-group">
                            <label class="d-block text-center mb-1 font-weight-bold">Email</label>
                            <input type="email" name="email" class="form-control">
                        </fieldset>

                        <fieldset disabled class="form-group">
                            <label class="d-block text-center mb-1 font-weight-bold" for="deleteRoleSelect">Role</label>
                            <select id="deleteRoleSelect" multiple="multiple" class="d-block form-control" style="height: 50px;">
                            </select>
                        </fieldset>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" id="deleteUserButton">Delete</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        function renderUserTable(users) {
            $('#usersTableBody').html('');
            users.forEach(user => {
                $('#usersTableBody').append(
                    '<tr id="user' + user.id + '" class="user-table-row">' +
                    '<td class="align-middle">' + user.id + '</td>' +
                    '<td class="align-middle">' + user.firstName + '</td>' +
                    '<td class="align-middle">' + user.lastName + '</td>' +
                    '<td class="align-middle">' + user.age + '</td>' +
                    '<td class="align-middle">' + user.email + '</td>' +
                    '<td class="align-middle">' +
                    '<span class="mr-1">' +
                    user.roles.map(role => role.name.replace('ROLE_', '')).join(' ') +
                    '</span>' +
                    '</td>' +
                    '<td class="align-middle">' +
                    '<button type="button" class="btn btn-info" data-toggle="modal" data-user="' + user.id + '" data-target="#editModal">Edit</button>' +
                    '</td>' +
                    '<td class="align-middle">' +
                    '<button type="button" class="btn btn-danger" data-toggle="modal" data-user="' + user.id + '" data-target="#deleteModal">Delete</button>' +
                    '</td>' +
                    '</tr>'
                );
                $('.user-table-row#user' + user.id + ' .btn-info').click(function (e) {
                    renderEditModal(user);
                });
                $('.user-table-row#user' + user.id + ' .btn-danger').click(function (e) {
                    renderDeleteModal(user);
                });
            });
        }

        function renderEditModal(user) {
            $('#editModal input[name="id"]').val(user.id);
            $('#editModal input[name="firstName"]').val(user.firstName);
            $('#editModal input[name="lastName"]').val(user.lastName);
            $('#editModal input[name="age"]').val(user.age);
            $('#editModal input[name="email"]').val(user.email);
            $('#editRoleSelect option').removeAttr("selected");
            user.roles.forEach(role => {
                $('#editRoleSelect option[value="' + role.id + '"]').attr('selected', '');
            });
        }

        function renderDeleteModal(user) {
            $('#deleteModal input[name="id"]').val(user.id);
            $('#deleteModal input[name="firstName"]').val(user.firstName);
            $('#deleteModal input[name="lastName"]').val(user.lastName);
            $('#deleteModal input[name="age"]').val(user.age);
            $('#deleteModal input[name="email"]').val(user.email);
            $('#deleteRoleSelect').html('');
            user.roles.forEach(role => {
                $('#deleteRoleSelect').append(
                    '<option value="' + role.id + '">' +
                    role.name.replace('ROLE_', '') +
                    '</option>'
                );
            });
        }

        function updateUsers() {
            $.ajax({
                url: "http://localhost:8080/admin/userList",
                type: 'GET',
                contentType: 'application/json',
                dataType: 'json',
                success: function (data) {
                    renderUserTable(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR, textStatus, errorThrown);
                }
            });
        }

        $(function () {
            updateUsers();

            $('#editUserButton').click(function (e) {
                if ($('#editUserForm')[0].checkValidity()) {
                    let serializedData = $('#editUserForm').serializeArray();
                    let data = {};
                    $.map(serializedData, function (n, i) {
                        data[n['name']] = n['value'];
                    });
                    data.id = $('#editModal input[name="id"]').val();
                    data.roles = [];
                    $("#editUserForm select option:selected").each((i, el) => data.roles.push({id: el.value}));
                    $.ajax({
                        url: "http://localhost:8080/admin/saveUser",
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify(data),
                        success: function (data) {
                            updateUsers();
                            $('#editModal').modal('toggle');
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.log(jqXHR, textStatus, errorThrown);
                        }
                    });
                } else {
                    $('#editUserForm input').each((i, el) => {
                        if (!el.checkValidity()) {
                            $(el).css('border', '1px solid red');
                        } else {
                            $(el).css('border', '1px solid #ced4da');
                        }
                    });
                }
            });

            $('#deleteUserButton').click(function () {
                let id = $('#deleteModal input[name="id"]').val();
                $.ajax({
                    url: "http://localhost:8080/admin/delete/" + id,
                    type: 'DELETE',
                    success: function (data) {
                        updateUsers();
                        $('#deleteModal').modal('toggle');
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR, textStatus, errorThrown);
                    }
                });
            });
        })
    </script>
</th:block>
