<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<form action="#"
      th:action="@{/admin/saveUser}"
      th:object="${user}"
      method="post">

    <label for="id"></label>
    <input type="hidden" th:field="*{id}" id="id" placeholder="id">
    <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></span>

    <label for="username">First Name</label>
    <input type="text" th:field="*{username}" id="Username" placeholder="Username">
    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>

    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="password">
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>

    <input type="submit" value="Update User">
</form>
