<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hello user</title>
</head>
<body>
<h3>
    <a href="/logout">Logout</a>
</h3>

<center>
    <table border="1">
        <thead>
        <h2>User information</h2>
        </thead>
        <tbody>
        <center>
            <tr>
                <td>Id</td>
                <td>Username</td>
                <td>Password</td>
                <td>Role</td>
            </tr>
            <tr>
                <td data-th-text="${user.id}"></td>
                <td data-th-text="${user.username}"></td>
                <td data-th-text="${user.password}"></td>
                <td>
                    <div th:each="role : ${user.roles}" th:text="${role.getName()}"></div>
                </td>
            </tr>
        </center>
        </tbody>
    </table>
</center>

</body>
</html>